/* styling mainly button,spinner and background color of body */
#button {
  font-size: large;
  font-weight: 500;
}

#display-spinner {
  display: none;
}

#show-text-output{
  display: none;
  color: rgb(148, 6, 6);
}

body{
  background-color: rgb(233, 220, 220);
}